@import 'vars';

.footer {
    background: $colorTextBlack;
    min-height: 79px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__left {
        color: $colorWhite;
        font-family: "Lato";
        font-size: 16px;
        font-weight: 400;
    }

    &__right {
        display: flex;
        gap: 7px;

        &-item {
            background-color: $colorWhite;
            width: 32px;
            height: 32px;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: $transitionSite;
    
            &:hover {
                background-color: $colorSite;
                path {
                    fill: $colorWhite;
                }
            }
        }
    }
}



