@import 'vars';


.subscribe {
    background-image: linear-gradient(rgba(235, 227, 227, 0.806), rgba(243, 234, 234, 0.603)), url(img/Layer.png);
    background-size: cover;    
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 97px;
    padding-bottom: 126px;
    &__figure {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;

        max-width: 50%;        
    }
    &__quote {
        max-width: 360px;
        color: $colorTextBlack;
        text-align: center;
        font-family: "Lato";
        font-size: 20px;
        font-weight: 400;
    }
    &__right {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    
        &-title {
            font-family: "Lato";
            font-size: 24px;
            font-weight: 700;
        }
        &-subtitle {    
            font-family: "Lato";
            font-size: 18px;
            font-weight: 400;
            text-align: center;
            line-height: 167%;
        }    
        &-form {
            margin-top: 16px;
            display: flex;
        }
        &-input {
            background-color: #E1E1E1;
            border: none;
            border-radius: 150px 20px 20px 150px;
            width: 220px;
            height: 50px;
            padding-left: 40px;
            padding-right: 20px;
        }
        &-btn {
            width: 100px;
            height: 50px;
            background-color: $colorSite;
            border: none;
            border-radius: 10px 150px 150px 10px;
            color: $colorWhite;
            text-align: center;
            font-family: "Lato";
            font-size: 14px;
            font-weight: 400;
            transition: $transitionSite;
            &:hover {
                background-color: $colorWhite;
                color: $colorSite;
            }
        }
    }
}

