@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");
.header {
  min-height: 75px;
  background: #222;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.header-left {
  display: flex;
  align-items: center;
  gap: 41px;
}
.header-left svg path {
  transition: all 0.5s;
}
.header-left svg:hover path {
  fill: #F16D7F;
}
.header-right {
  display: flex;
  align-items: center;
  gap: 33px;
}
.header-right svg path {
  transition: all 0.5s;
}
.header-right svg:hover path {
  fill: #F16D7F;
}

#burger {
  position: absolute;
  left: -10000px;
  visibility: hidden;
}
#burger:not(:checked) ~ nav {
  top: -1000px;
  right: 50px;
  visibility: hidden;
  z-index: 0;
}

.nav {
  background-color: #fff;
  box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
  width: 232px;
  min-height: 639px;
  padding: 32px;
  box-sizing: border-box;
  position: absolute;
  z-index: 1;
  top: 75px;
  right: 50px;
  transition: all 1s;
  transition-timing-function: ease-out;
}
.nav__content {
  background-color: #fff;
}
.nav__heading {
  color: #222;
  font-family: "Lato";
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.nav__summary {
  color: #F16D7F;
  font-family: "Lato";
  font-size: 14px;
  font-weight: 400;
  padding-top: 24px;
}
.nav__link-box {
  display: flex;
  flex-direction: column;
  gap: 11px;
  padding: 12px 16px;
}
.nav__link {
  color: #6F6E6E;
  font-family: "Lato";
  font-size: 14px;
  font-weight: 400;
}
.nav__link:hover {
  color: #F16D7F;
}

.subscribe {
  background-image: linear-gradient(rgba(235, 227, 227, 0.806), rgba(243, 234, 234, 0.603)), url(img/Layer.png);
  background-size: cover;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 97px;
  padding-bottom: 126px;
}
.subscribe__figure {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  max-width: 50%;
}
.subscribe__quote {
  max-width: 360px;
  color: #222;
  text-align: center;
  font-family: "Lato";
  font-size: 20px;
  font-weight: 400;
}
.subscribe__right {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.subscribe__right-title {
  font-family: "Lato";
  font-size: 24px;
  font-weight: 700;
}
.subscribe__right-subtitle {
  font-family: "Lato";
  font-size: 18px;
  font-weight: 400;
  text-align: center;
  line-height: 167%;
}
.subscribe__right-form {
  margin-top: 16px;
  display: flex;
}
.subscribe__right-input {
  background-color: #E1E1E1;
  border: none;
  border-radius: 150px 20px 20px 150px;
  width: 220px;
  height: 50px;
  padding-left: 40px;
  padding-right: 20px;
}
.subscribe__right-btn {
  width: 100px;
  height: 50px;
  background-color: #F16D7F;
  border: none;
  border-radius: 10px 150px 150px 10px;
  color: #fff;
  text-align: center;
  font-family: "Lato";
  font-size: 14px;
  font-weight: 400;
  transition: all 0.5s;
}
.subscribe__right-btn:hover {
  background-color: #fff;
  color: #F16D7F;
}

.footer {
  background: #222;
  min-height: 79px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer__left {
  color: #fff;
  font-family: "Lato";
  font-size: 16px;
  font-weight: 400;
}
.footer__right {
  display: flex;
  gap: 7px;
}
.footer__right-item {
  background-color: #fff;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s;
}
.footer__right-item:hover {
  background-color: #F16D7F;
}
.footer__right-item:hover path {
  fill: #fff;
}

.top-head {
  background: #f8f3f4;
  min-height: 148px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.top-head__heading {
  font-family: Lato;
  font-size: 24px;
  font-weight: 400;
  color: #F16D7F;
}

.breadcrumbs__ul {
  list-style-type: none;
  display: flex;
  padding: 0;
  margin: 0;
}
.breadcrumbs__li:not(:last-child)::after {
  content: "/";
  padding-left: 8px;
  padding-right: 8px;
}
.breadcrumbs__link {
  font-family: Lato;
  color: #636363;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 23px;
}
.breadcrumbs__link_current {
  font-family: Lato;
  font-size: 14px;
  color: #F16D7F;
  font-weight: 700;
  line-height: 23px;
}

.carousel {
  display: flex;
  justify-content: center;
  background-color: #f7f7f7;
}
.carousel-inner {
  width: 37%;
  margin-top: 11px;
}
.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='31' height='31' viewBox='0 0 31 31' fill='none'%3E%3Cpath d='M21.6998 7.7499L13.9498 15.4999L21.6998 23.2499L20.1498 26.3499L9.2998 15.4999L20.1498 4.6499L21.6998 7.7499Z' fill='black'/%3E%3C/svg%3E");
  width: 47px;
  height: 47px;
  background-color: rgba(42, 42, 42, 0.15);
}
.carousel-control-prev-icon:hover {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='31' height='31' viewBox='0 0 31 31' fill='none'%3E%3Cpath d='M21.6998 7.7499L13.9498 15.4999L21.6998 23.2499L20.1498 26.3499L9.2998 15.4999L20.1498 4.6499L21.6998 7.7499Z' fill='%23F16D7F'/%3E%3C/svg%3E");
}
.carousel-control-next-icon {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='31' height='31' viewBox='0 0 31 31' fill='none'%3E%3Cpath d='M9.2998 23.2499L17.0498 15.4999L9.2998 7.7499L10.8498 4.6499L21.6998 15.4999L10.8498 26.3499L9.2998 23.2499Z' fill='black'/%3E%3C/svg%3E");
  width: 47px;
  height: 47px;
  background-color: rgba(42, 42, 42, 0.15);
}
.carousel-control-next-icon:hover {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='31' height='31' viewBox='0 0 31 31' fill='none'%3E%3Cpath d='M9.2998 23.2499L17.0498 15.4999L9.2998 7.7499L10.8498 4.6499L21.6998 15.4999L10.8498 26.3499L9.2998 23.2499Z' fill='%23F16D7F'/%3E%3C/svg%3E");
}

.product-about {
  position: relative;
  margin-top: -30px;
  margin-left: calc(50% - 570px);
  margin-right: calc(50% - 570px);
  margin-bottom: 130px;
  padding-top: 65px;
  background-color: #fff;
  border: 1px solid #eaeaea;
  color: #4d4d4d;
  font-size: 14px;
  font-weight: 300;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.product-about__title {
  color: #F16D7F;
  font-family: Lato;
  font-size: 14px;
}
.product-about__name {
  font-size: 18px;
  margin-top: 12px;
  margin-bottom: 48px;
}
.product-about__text {
  color: #5e5e5e;
  max-width: 555px;
  margin-bottom: 32px;
}
.product-about__price {
  font-size: 24px;
  color: #F16D7F;
}
.product-about__line {
  width: 640px;
  border-top: 1px solid #eaeaea;
  margin-top: 40px;
  margin-bottom: 65px;
}
.product-about_menu-bar {
  font-weight: 400;
  min-width: 350px;
  display: flex;
  justify-content: space-between;
}
.product-about_menu-bar_button {
  background-color: #fff;
  color: #5e5e5e;
  display: flex;
  align-items: center;
  gap: 4px;
}
.product-about_add-button {
  margin-top: 48px;
  margin-bottom: 65px;
}
.product-about_add-button_button {
  width: 212px;
  height: 48px;
  background: none;
  display: flex;
  justify-content: none;
  align-items: center;
  border: 1px solid #F16D7F;
  font-family: "Lato";
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #F16D7F;
  gap: 22px;
  transition: all 0.5s;
  padding-left: 30px;
}
.product-about_add-button_button:hover {
  color: #fff;
  background-color: #F16D7F;
}
.product-about_add-button_button:hover path {
  fill: #fff;
}
.product-about_add-button_button svg path {
  fill: #F16D7F;
  transition: all 0.5s;
}

.product-section {
  padding-bottom: 128px;
}

@media (max-width: 1023px) {
  .carousel {
    -o-object-fit: cover;
       object-fit: cover;
  }
  .d-block {
    min-height: 624px;
    min-height: 375px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .product-about {
    position: relative;
    margin-top: 0px;
  }
}
@media (max-width: 767px) {
  .product-about {
    margin-left: calc(50% - 187px);
    margin-right: calc(50% - 187px);
    border: none;
    border-bottom: 1px solid #eaeaea;
  }
  .product-about__name {
    margin-bottom: 32px;
  }
  .product-about__line {
    width: 175px;
  }
}
.filter-sort {
  padding-top: 51px;
  padding-bottom: 64px;
  position: relative;
  display: flex;
  gap: 30px;
  padding-top: 39px;
  box-sizing: border-box;
}

.filter {
  padding-top: 13px;
  width: 360px;
  box-sizing: border-box;
  position: relative;
  z-index: 10;
}
.filter__content {
  background-color: #fff;
  padding: 0 16px 16px 16px;
}
.filter[open] {
  background: #fff;
  box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
}
.filter[open] .filter__heading {
  color: #F16D7F;
}
.filter[open] path {
  fill: #F16D7F;
}
.filter__summary {
  display: flex;
  padding-left: 16px;
  gap: 11px;
  align-items: center;
}
.filter__heading {
  font-family: Lato;
  color: #000;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.filter__item {
  margin-top: 16px;
  color: #6f6e6e;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.filter__item[open] .filter__title {
  color: #F16D7F;
}
.filter__title {
  padding: 8px 11px 11px;
  border-bottom: 1px solid #ebebeb;
  border-left: 5px solid #F16D7F;
}
.filter__link-box {
  padding: 24px 12px;
  display: flex;
  flex-direction: column;
  gap: 11px;
}
.filter__link {
  color: #6f6e6e;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.filter__link:hover {
  color: #F16D7F;
}

.sort {
  display: flex;
  padding-top: 12px;
  gap: 28px;
}
.sort__details {
  position: relative;
}
.sort__summary {
  display: flex;
  align-items: center;
  gap: 10px;
}
.sort__heading {
  color: #6f6e6e;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.sort__box {
  padding: 9px 9px 12px;
  display: flex;
  flex-direction: column;
  background: #FFF;
  box-shadow: 6px 4px 35px 0px rgba(0, 0, 0, 0.21);
  position: absolute;
  left: -9px;
  top: 22px;
  z-index: 1;
}
.sort__check {
  display: flex;
  gap: 9px;
  color: #6f6e6e;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.sort__checkbox {
  color: #ebebeb;
}

.pageCarousel {
  display: flex;
  justify-content: center;
  margin-top: 48px;
  margin-bottom: 97px;
}

.carouselPart {
  width: 282px;
  height: 43px;
  background-color: #fff;
  border: 1px solid #EBEBEB;
}
.carouselPart-inner {
  width: 70%;
}
.carouselPart-item {
  display: flex;
  justify-content: space-between;
}
.carouselPart__link {
  color: #C4C4C4;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.carouselPart__link:hover {
  color: #F16D7F;
}
.carouselPart-control-prev {
  width: 30px;
  height: 30px;
  background-color: #fff;
  padding-top: 10px;
  padding-left: 10px;
}
.carouselPart-control-next {
  margin-top: -2px;
  padding-right: 10px;
}
.carouselPart-control-next-icon {
  width: 20px;
  height: 20px;
  background-color: #fff;
}

@media (max-width: 1165px) {
  .filter-sort {
    justify-content: center;
  }
  .display-none {
    display: none;
  }
}
@media (max-width: 1024px) {
  .filter-sort {
    padding-top: 24px;
    padding-bottom: 40px;
  }
  .pageCarousel {
    margin-top: 40px;
    margin-bottom: 63px;
  }
  .advantages {
    flex-direction: column;
  }
  .subscribe {
    flex-direction: column;
    gap: 48px;
    padding-top: 64px;
    padding-bottom: 140px;
  }
}
@media (max-width: 767px) {
  .top-head {
    flex-direction: column;
    justify-content: space-around;
  }
  .filter {
    width: 76px;
  }
  .filter__heading {
    display: none;
  }
  .filter svg {
    width: 37.5px;
    height: 25px;
  }
  .sort__heading {
    font-size: 12px;
  }
}
.top {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #f8f3f4;
}
.top__title {
  color: #f16d7f;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.cart {
  margin-top: 96px;
  display: flex;
  flex-wrap: wrap;
  gap: 128px;
  margin-bottom: 128px;
}
.cart__left {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.cart__left__buttons {
  margin-top: 32px;
  display: flex;
  justify-content: space-between;
  color: #000;
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.cart__left__button {
  width: 235px;
  height: 50px;
  border: 1px solid #a4a4a4;
  background-color: #fff;
}
.cart__left__button:hover {
  color: #fff;
  background-color: #F16D7F;
  border: #F16D7F;
}
.cart__item-card {
  width: 652px;
  height: 306px;
  display: flex;
  gap: 32px;
  box-shadow: 17px 19px 24px rgba(0, 0, 0, 0.13);
}
.cart__item-card__img {
  width: 100%;
  height: 100%;
}
.cart__item-card__content {
  max-width: 194px;
  width: 100%;
  margin-right: 99px;
}
.cart__item-card__title {
  padding-top: 22px;
  padding-bottom: 42px;
  color: #222;
  font-family: Lato;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.cart__item-card__dsc {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.cart__item-card__text {
  color: #575757;
  font-family: Lato;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.cart__item-card__text__price {
  color: #ef5b70;
  font-family: Lato;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.cart__item-card__text__span {
  color: #6f6e6e;
  font-family: Lato;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.cart__item-card__close {
  margin-top: 28px;
  margin-right: 22px;
}
.cart__item-card__close:hover path {
  fill: #F16D7F;
}
.cart__right {
  display: flex;
  flex-direction: column;
  gap: 57px;
}
.cart__shipping {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.cart__shipping__title {
  padding-top: 17px;
  color: #222;
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.cart__shipping__form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.cart__shipping__input-form {
  width: 360px;
  padding-top: 13px;
  padding-bottom: 16px;
  padding-left: 17px;
  border: 1px solid #a4a4a4;
  color: #222;
  font-family: Lato;
  font-size: 13px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.cart__shipping #city::-moz-placeholder {
  color: #b1b1b1;
}
.cart__shipping #city::placeholder {
  color: #b1b1b1;
}
.cart__shipping #state::-moz-placeholder {
  color: #222;
}
.cart__shipping #state::placeholder {
  color: #222;
}
.cart__shipping #postcode::-moz-placeholder {
  color: #222;
}
.cart__shipping #postcode::placeholder {
  color: #222;
}
.cart__shipping__button {
  width: 102px;
  height: 35px;
  border: 1px solid #a4a4a4;
  background-color: #fff;
  color: #222;
  font-family: Lato;
  font-size: 11px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  transition: all 0.5s;
}
.cart__shipping__button:hover {
  color: #fff;
  background-color: #F16D7F;
  border-color: #F16D7F;
}
.cart__proceed-checkout {
  background-color: #f5f3f3;
  height: 214px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 39px 34px 42px;
}
.cart__proceed-checkout__sub-total {
  display: flex;
  gap: 20px;
  margin-bottom: 12px;
  color: #4a4a4a;
  font-family: Lato;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.cart__proceed-checkout__grand-total {
  width: 275px;
  margin-bottom: 17px;
  display: flex;
  justify-content: flex-end;
  gap: 20px;
  color: #222;
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  padding-bottom: 21px;
  border-bottom: 1px solid #e2e2e2;
}
.cart__proceed-checkout__button {
  padding: 15px 43px 16px 41px;
  width: 275px;
  background-color: #F16D7F;
  color: #fff;
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  transition: all 0.5s;
}
.cart__proceed-checkout__button:hover {
  color: #F16D7F;
  background: #fff;
  box-shadow: 0px 4px 4px rgba(241, 109, 127, 0.69);
}

#quantity {
  width: 2em;
  padding-left: 16px;
  border: 1px solid;
}

@media (max-width: 1200px) {
  .cart {
    justify-content: center;
    gap: 64px;
  }
  .cart__item-card {
    width: 719px;
  }
  .cart__item-card__img {
    -o-object-fit: cover;
       object-fit: cover;
  }
  .cart__right {
    flex-direction: row;
    gap: 15px;
  }
  .cart__proceed-checkout {
    margin-top: 53px;
  }
}
@media (max-width: 767px) {
  .cart {
    margin-top: 39px;
    margin-bottom: 128px;
    gap: 48px;
  }
  .cart__item-card {
    width: 360px;
    height: 188px;
  }
  .cart__item-card__img {
    width: 143px;
  }
  .cart__item-card__content {
    margin-right: -18px;
  }
  .cart__item-card__title {
    font-size: 16px;
    padding-bottom: 25px;
  }
  .cart__item-card__close {
    margin-top: 22px;
  }
  .cart__item-card__close svg {
    width: 10px;
    height: 10px;
  }
  .cart__item-card__text {
    font-size: 14px;
  }
  .cart__item-card__text__price {
    font-size: 14px;
  }
  .cart__item-card__text__span {
    font-size: 14px;
  }
  .cart__left__buttons {
    font-size: 12px;
    margin-top: 0px;
  }
  .cart__left__button {
    width: 175px;
  }
  .cart__right {
    flex-direction: column;
  }
}
.reg {
  display: flex;
  justify-content: space-between;
  gap: 128px;
  padding-top: 64px;
  padding-bottom: 96px;
}

.reg-form {
  display: flex;
  flex-direction: column;
}
.reg-form__input-box {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.reg-form__heading {
  color: #222;
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.reg-form__input {
  width: 360px;
  height: 45px;
  border: 1px solid #a4a4a4;
  padding: 13px 17px 16px;
}
.reg-form__sex-checbox {
  margin-top: 32px;
  margin-bottom: 32px;
  display: flex;
  gap: 20px;
  color: #000;
  font-family: Lato;
  font-size: 11px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.reg-form__pass-req {
  margin-top: 16px;
  margin-bottom: 39px;
  color: #b1b1b1;
  font-family: Lato;
  font-size: 13px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  max-width: 360px;
}
.reg-form__button {
  display: flex;
  gap: 20px;
}
.reg-form__join-button {
  padding: 16px 20px 17px 29px;
  width: 167px;
  height: 50px;
  border: 1px solid #a4a4a4;
  background-color: #fff;
  color: #000;
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  transition: all 0.5s;
}
.reg-form__join-button svg {
  width: 17px;
  height: 9px;
  margin-left: 20px;
}
.reg-form__join-button svg path {
  fill: #000;
}
.reg-form__join-button:hover {
  color: #fff;
  background-color: #F16D7F;
  border-color: #F16D7F;
}
.reg-form__join-button:hover path {
  fill: #fff;
}

.loyalty-perks {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 652px;
  color: #000;
  font-family: Lato;
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.loyalty-perks__advantages {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.loyalty-perks__advantage-item svg {
  margin-right: 2px;
}

@media (max-width: 1200px) {
  .reg {
    gap: 22px;
  }
  .loyalty-perks {
    font-size: 16px;
  }
}
@media (max-width: 767px) {
  .reg {
    flex-direction: column;
    align-items: center;
  }
}
html, body, div, img, a, hr, p, table, tr, td, h1, h2, h3,
h4, h5, h6, ul, li, input, select, textarea, button, figure {
  box-sizing: border-box;
  border: none;
  border-radius: 0;
  margin: 0;
  padding: 0;
  font-family: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  outline: none;
  vertical-align: top;
  transition: none;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  transition: all 0.5s;
}

summary {
  display: block;
}

summary::-webkit-details-marker {
  display: none;
}

.center {
  padding-left: calc(50% - 570px);
  padding-right: calc(50% - 570px);
}

.pink-colored {
  color: #F16D7F;
}

.promo {
  display: flex;
  gap: 41px;
  background: #F1E4E6;
  padding-left: calc(50% - 800px);
  padding-right: calc(50% - 800px);
}
.promo__img {
  width: 50%;
}
.promo__right {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.promo__title-box {
  border-left: 12px solid #F16D7F;
  padding-left: 16px;
}
.promo__title {
  font-family: "Lato";
  font-weight: 900;
  font-size: 48px;
  line-height: 58px;
  color: #222;
}
.promo__subtitle {
  font-family: "Lato";
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
  color: #222;
}

.offer {
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(3, 1fr);
  padding-top: 64px;
  padding-bottom: 96px;
}
.offer__card {
  background: #211616;
  position: relative;
}
.offer__card:hover .offer__img {
  opacity: 1;
}
.offer__img {
  opacity: 0.4;
  transition: all 0.5s;
}
.offer__title-box {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.offer__title {
  font-family: "Lato";
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #fff;
}
.offer__subtitle {
  font-family: "Lato";
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: #F16D7F;
}
.offer__big-card {
  grid-column: 1/-1;
  background: #211616;
  position: relative;
}
.offer__big-card:hover .offer__img {
  opacity: 1;
}

.featured-items-head {
  padding-bottom: 47px;
}
.featured-items-head__title {
  font-family: "Lato";
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  color: #222;
}
.featured-items-head__text {
  font-family: "Lato";
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  margin-top: 6px;
  color: #9F9F9F;
}

.products {
  display: grid;
  grid-template-columns: repeat(auto-fit, 360px);
  justify-content: center;
  gap: 30px;
}
.products__card {
  background-color: #F8F8F8;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  transition: all 0.5s;
  position: relative;
}
.products__card-img {
  width: 100%;
  transition: all 0.5s;
}
.products__card-content {
  padding: 24px 29px 20px 16px;
}
.products__card:hover .products__card-img {
  filter: brightness(0.5);
}
.products__card-add {
  position: absolute;
  top: 188px;
  left: 111px;
  border: 1px solid #fff;
  width: 139px;
  height: 44px;
  font-family: "Lato";
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  display: none;
  align-items: center;
  justify-content: center;
  gap: 11px;
  color: #fff;
  background: none;
}
.products__card:hover .products__card-add {
  display: flex;
}
.products__card:hover .products__card-add:hover svg path {
  fill: #F16D7F;
}
.products__card:hover .products__card-add:hover {
  color: #F16D7F;
  border-color: #F16D7F;
}
.products__card-heading {
  font-family: "Lato";
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #222;
}
.products__card-text {
  font-family: "Lato";
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #5D5D5D;
  padding-top: 13px;
  padding-bottom: 18px;
}
.products__card-price {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #F16D7F;
}

.browse {
  display: flex;
  justify-content: center;
  padding-top: 48px;
  padding-bottom: 95px;
}
.browse__button {
  width: 212px;
  height: 48px;
  background: none;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #F16D7F;
  font-family: "Lato";
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #F16D7F;
  gap: 22px;
  transition: all 0.5s;
}
.browse__button:hover {
  color: #fff;
  background-color: #F16D7F;
}
.browse__button:hover path {
  fill: #fff;
}

.advantages {
  background-color: #222222;
  padding-top: 104px;
  padding-bottom: 104px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.advantages__items {
  width: 360px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  color: #fff;
}
.advantages__item-title {
  font-family: "Lato";
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
}
.advantages__item-text {
  font-family: "Lato";
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
}

@media (max-width: 1200px) {
  .center {
    padding-left: 16px;
    padding-right: 16px;
  }
  .products {
    gap: 16px;
  }
}
@media (max-width: 1024px) {
  .products {
    gap: 16px;
  }
  .promo__title {
    font-size: 44px;
  }
  .promo__subtitle {
    font-size: 24px;
  }
  .offer {
    gap: 20px;
    padding-top: 16px;
    padding-bottom: 154px;
  }
  .advantages {
    flex-direction: column;
  }
  .subscribe {
    flex-direction: column;
    gap: 48px;
    padding-top: 64px;
    padding-bottom: 140px;
  }
}
@media (max-width: 767px) {
  .registration-icon {
    display: none;
  }
  .header_right_cart {
    display: none;
  }
  .promo {
    height: 363px;
    justify-content: center;
  }
  .promo__img {
    display: none;
  }
  .promo__title {
    font-size: 38px;
  }
  .promo__subtitle {
    font-size: 20px;
  }
  .advantages {
    flex-direction: column;
  }
  .offer {
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
  }
  .subscribe {
    flex-direction: column;
    gap: 48px;
    padding-top: 64px;
    padding-bottom: 140px;
  }
  .subscribe__quote {
    font-size: 18px;
  }
  .subscribe_right-title-main {
    font-size: 14px;
  }
  .footer {
    flex-direction: column-reverse;
    gap: 40px;
    padding-top: 43px;
    padding-bottom: 9px;
  }
}/*# sourceMappingURL=style.css.map */