.box {
    width: 350px;
    height: 250px;
    border: 1px solid black;
}

.r1 {
    border-radius: 0 0 20px 20px;
}

.r2 {
    border-radius: 0 10px 20px;
}

.r3 {
    border-radius: 10px 20px;
}

.r4 {
    border-radius: 100px/20px;
}

.r5 {
    border-radius: 50px 100px 15px 30px/30px 15px 10px 5px;
}

.r6 {
    border-radius: 100px 200px 30px 40px/30px;
}

/* Овал */
.r7 {
    border-radius: 50%;
}

.r8 {
    border-top: none;
    border-bottom: none;
    border-radius: 30px/90px;
}

.r10 {
    border-radius: 0 100%;
}

.r11 {
    border-radius: 0 50% 50% 50%;
}


