.flex-container {
    display: flex;
    border: 1px #ccc solid;
}
.flex-item {
    text-align: center;
    font-size: 1em;
    padding: 1.2em;
    color: white;
}
.item1 {
    background-color: #675ba7;
    flex-basis: auto;
    width: 150px;
}
.item2 {
    background-color: #9bc850;
    flex-basis: auto;
    width: auto;
}
.item3 {
    background-color: #a62e5c;
    flex-basis: 200px;
    width: 150px;
}