.content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
    box-sizing: border-box;    
}


.item {
    border: 1px solid #000;
    height: 100px;
    box-sizing: border-box;
           
}

.item_1, .item_8 {
    height: 100%;
    grid-column: span 2;
    grid-row: span 2;    
}

@media (max-width: 1023px) {
    .content {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 767px) {
    .content {
        grid-template-columns: repeat(2, 1fr);
    }

    .item_1, .item_8 {
        height: 100px;   
    }

    .item_8 {
        grid-row: 5 / 6;
    }
}


