// Пример использлования rem
// html {
//     font-size: 20px; // 1rem == 20px
// }

// .title {
//     font-size: 2.8rem;
// }

// .heading {
//     font-size: 2.0;
// }

// Пример с адоптацией

html {
    font-size: 16px; // 1rem == 16px
}

.title {
    font-size: 2rem; // 32 / 16 = 2rem
}

.heading {
    font-size: 1.5rem;
}

.text {
    font-size: 1rem;
}

@media (max-width: 768px) {
 html {
    font-size: 14px; // 1rem == 14px
 }  
}

@media (max-width: 425px) {
    html {
        font-size: 12px; // 1rem == 12px
     }     
}